.c2b {
  color: rgba(35, 33, 32, 1)
}
.c2e {
  color: #2E0F00;
}
.c23 {
  color: rgba(35, 33, 32, 0.3)
}

.c231 {
  color: rgba(35, 33, 32, 1)
}

.c236 {
  color: rgba(35, 33, 32, .6)
}

.color {
  background: rgba(246, 135, 49, 1) !important;
}

.c0 {
  color: #000
}

.cf {
  color: #fff
}
.cf68 {
  color: #f68731
}


.bg2b {
  background: #2B1106;
}

.c05 {
  color: rgba(0, 0, 0, .5)
}

.c08 {
  color: rgba(0, 0, 0, .8)
}

.bgf {
  background-color: #fff;
}

.c00c {
  color: #00C48C;
}

.bgEEF {
  background-color: #EEF3FC;
}

.c232 {
  color: #232120;
}
.cr{
  color: #E17386;
}
.cEE {
  color: #EEECEB;
}
.green {
  color:  #14c784
}
.red {
  color: #FD1906
}
.grey {
  color: #999
}
.blue{
  color: #1a98eb
}

.ce1{
  color:#E17386
}

.cy{
  color:#F68731
}
.color-font {
  color: #F68731;
}
.c6{
  color: #666
}
.bgy{
  background-color:#F68731
}