
.lang-wrap {
    height:44px;
    // width: 54px;
    border-radius: 22px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .lang-wrap-style{
    border-radius: 22px;
    border: 1px solid rgba(46, 15, 0, 0.1);
  }