.join_us {
    padding: 52px 52px 52px 52px;
    background: url('../../assets/image/home/join.png') ;
    background-size: cover;
   .step-content-text-desc {
    color: #878787
   }
   .join-item {
        width: 100%;
        max-width: 660px;
        // height: 510px;
        position: relative;
        // padding: 100px 50px 0 50px;
        .join-title {
            width: 100%;
            position: absolute;
            top: -110px ;
            .join-bkg {
                width: 100%;
            }
        }
        .join-logo {
            width: 160px;
            height:160px;
            border: 6px solid #f3eae4;
            border-radius: 50%;
            // position: absolute;
            // left: 275px;
            // top: -88px;
        }
        .join-name {
            width: 710px;
            // height:20px;
            // position: absolute;
            // left: 0px;
            // top: -133px;
        }
        .join-steps {
            background-color: #fff;
            box-shadow: 0 5px 10px 0 rgba(143, 92, 111, 0.2100);
            border-radius: 10px;
            padding: 120px 24px 24px 24px ;
        }
        .step-text {
            width: 67px;
        }
        .apply-btn  {
            width: 126px;
            height: 40px;
            border-radius: 12px;
            line-height: 40px;
            margin-left: auto;
        }
        .step-content {
                padding-left: 25px;
                border-left: 1px dashed #DADADA;
                position: relative;
                padding-bottom: 20px;
                &.last {
                    border: none
                }
                .step-checkbox {
                    position: absolute;
                    background-color: #fff;
                    z-index: 2;
                    left: -8px;
                    width: 16px;
                    height: 16px;
                    border-radius: 18px;
                    border: 1px solid #DADADA;
                    .step-checkbox-inner {
                        width: 6px;
                        height: 6px;
                        background: #000000;
                        border-radius: 4px;
                    }
                }
        }

   }
}
@media screen and (max-width: 1200px) {
    .join-big-title {
        font-size: 24px !important;
        padding-bottom: 24px !important;
    }
    .join_us {
        width: 100% !important;
        padding: 24px !important
    }
    .join-wrap {
        flex-direction: column;
    }
    .join-items{
        width: 100% !important;
        margin-top: 60px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        .join-title {
            top: -60px !important
        }
        .join-name {
            font-size: 16px !important;
        }
        .join-logo {
            width: 80px !important;
            height: 80px !important;
        }
        .join-steps {
          padding: 60px 20px 20px 20px !important;
        }
        .join-item {
            width: 100% !important;
            padding: 0;
            .step-text {
                font-size: 12px !important;
            }
            .step-content-text-title {
                font-size: 12px !important;
            }

            .step-content-text-desc {
                font-size: 10px !important;
            }
        }
        .apply-btn  {
            width: 63px!important;
            margin-right: auto;
            margin-left: 0 !important;
            height: 20px !important;
            line-height: 20px !important;
            font-size: 10px !important;
        }
    }
     
}
