.trade-earn {
    height: 625px;
    margin-top: 120px;

    .content-wrapper {
        position: relative;
        .bg-text{
            position: absolute;
            font-size: 500px;
            font-weight: bold;
            color: rgb(43 17 6 / 4%);
            line-height: 625px;
            z-index: -1;
        }
        .left {
            display: flex;
            flex-flow: column;

            .text-1 {
                height: 20px;
                font-size: 16px;
                font-weight: bold;
                color: rgba($color: #232120, $alpha: 0.3);
                line-height: 20px;
                letter-spacing: 3px;
            }

            .text-2 {
                width: 619px;
                margin-top: 24px;
                font-size: 78px;
                font-weight: bold;
                color: #2B1106;
                line-height: 82px;
            }

            .text-3 {
                width: 465px;
                margin-top: 36px;
                font-size: 24px;
                font-weight: 400;
                color: #2B1106;
                line-height: 42px;

                a {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }

            .btn {
                margin-top: 80px;
                width: 280px;
                height: 72px;
                background: rgba(246, 135, 49, 1);
                border-radius: 24px;
                font-size: 22px;
                font-weight: bold;
                color: #2B1106;
                line-height: 28px;

            }
        }
    }
}