.boost {
    height: 26px;
    border-radius: 15px;
    border: 1px solid #F68731;
    display: inline-block;
    line-height: 24px;
    padding: 0 8px;
    img {
        margin-right: 5px;
    }
}
.nft-wrap {
    max-height: 400px;
    overflow-y: auto;
}
.nft-item-deposit {

    img{
        width: 180px;
        height:180px;
        border-radius: 12px;

    }
}
.nft-item {
    .img-wrap {
        border: 3px solid transparent;
    }
    &.selected {
        .img-wrap {
border-radius: 12px;
border: 3px solid #F68731;
        }
    }
    img{
        width: 126px;
        height:126px;
        border-radius: 12px;

    }
}

.boost-btn.confirm-btn {
    height:64px;
    border: none;
    border-radius: 32px;
    font-weight: bold;
    font-size: 16px;
    color:#fff
  }
