@import "bourbon";

/* Demo Styles */

/* The Loader */

#loader-wrapper {
  width: 50px;
  height: 50px;
  z-index: 10;
  overflow: hidden;
  position: relative;

  // Modernizr no-js fallback
  .no-js & {
    display: none;
  }
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #49a2e1;
  border-right-color: #49a2e1;
  animation: spin 1.7s linear infinite;
  z-index: 11;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f51909;
    border-right-color: #f51909;
    border-bottom-color: #f51909;
    animation: spin-reverse 0.6s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ede1a0;
    border-right-color: #ede1a0;
    border-bottom-color: #ede1a0;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin{
  0% {
     transform: rotate(0deg);
  }
  100% {
     transform:rotate(360deg);
  }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
     }
     100% {
        transform:rotate(-360deg);
     }
}

#loader-wrapper .loader-section {
  // position: fixed;
  top: 0;
  width: 100px;
  height: 100px;
  // background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}
